In [44]:
# Importazione Librerie
import pandas as pd
import numpy as np

In [45]:
# Importazione dataset
file_path = 'data.csv'
df = pd.read_csv(file_path)

In [46]:
# Visualizzare prime righe dataset
df.head()

,,Festival_Name,Location,Attendance_Numbers,Visitor_Demographics,Economic_Impact,Music_Genre
Glastonbury Festival,Somerset,UK,200000,18-35,Music Enthusiasts,£100 million,Various
Tomorrowland,Boom,Belgium,400000,18-30,EDM Fans,€150 million,EDM
Sziget Festival,Budapest,Hungary,500000,18-40,International Attendees,€130 million,Various
Rock am Ring,Nürburg,Germany,90000,20-40,Rock Fans,€80 million,Rock
Roskilde Festival,Roskilde,Denmark,130000,18-40,Alternative Music Lovers,DKK 70 million,Alternative

In [47]:
# Visualizzare colonna Festival Name
df['Festival_Name']

Glastonbury Festival            Somerset                  UK
Tomorrowland                    Boom                 Belgium
Sziget Festival                 Budapest             Hungary
Rock am Ring                    Nürburg              Germany
Roskilde Festival               Roskilde             Denmark
                                                    ...
Electric Picnic                 Stradbally           Ireland
Blue Balls Festival             Lucerne          Switzerland
Lollapalooza Buenos Aires       Buenos Aires       Argentina
Valencia Music Festival         Valencia               Spain
Festival Internacional de Jazz  Mexico City           Mexico
Name: Festival_Name, Length: 157, dtype: object

In [48]:
# Reset index Festival Name
df.reset_index(inplace=True)

In [49]:
df.head()

,level_0,level_1,Festival_Name,Location,Attendance_Numbers,Visitor_Demographics,Economic_Impact,Music_Genre
0,Glastonbury Festival,Somerset,UK,200000,18-35,Music Enthusiasts,£100 million,Various
1,Tomorrowland,Boom,Belgium,400000,18-30,EDM Fans,€150 million,EDM
2,Sziget Festival,Budapest,Hungary,500000,18-40,International Attendees,€130 million,Various
3,Rock am Ring,Nürburg,Germany,90000,20-40,Rock Fans,€80 million,Rock
4,Roskilde Festival,Roskilde,Denmark,130000,18-40,Alternative Music Lovers,DKK 70 million,Alternative

In [50]:
# Rinominare colonne dataset
df.columns = ['Festival_Name', 'Location', 'Country', 'Attendace_Numbers', 'Age_Range',
              'Visitor_Demographics', 'Economic_Impact', ' Music_Genre']

In [51]:
df.head()

,Festival_Name,Location,Country,Attendace_Numbers,Age_Range,Visitor_Demographics,Economic_Impact,Music_Genre
0,Glastonbury Festival,Somerset,UK,200000,18-35,Music Enthusiasts,£100 million,Various
1,Tomorrowland,Boom,Belgium,400000,18-30,EDM Fans,€150 million,EDM
2,Sziget Festival,Budapest,Hungary,500000,18-40,International Attendees,€130 million,Various
3,Rock am Ring,Nürburg,Germany,90000,20-40,Rock Fans,€80 million,Rock
4,Roskilde Festival,Roskilde,Denmark,130000,18-40,Alternative Music Lovers,DKK 70 million,Alternative

In [52]:
# Visualizzare informazioni Colonne
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Festival_Name         157 non-null    object
 1   Location              157 non-null    object
 2   Country               157 non-null    object
 3   Attendace_Numbers     157 non-null    int64
 4   Age_Range             157 non-null    object
 5   Visitor_Demographics  157 non-null    object
 6   Economic_Impact       157 non-null    object
 7    Music_Genre          157 non-null    object
dtypes: int64(1), object(7)
memory usage: 9.9+ KB

In [53]:
# Visualizzare colonna Economic Impact
df['Economic_Impact']

0        £100 million
1        €150 million
2        €130 million
3         €80 million
4      DKK 70 million
            ...
152       €30 million
153    CHF 15 million
154    ARS 20 million
155       €15 million
156    MXN 20 million
Name: Economic_Impact, Length: 157, dtype: object

In [54]:
# Valori unici Economic Impact
df['Economic_Impact'].unique()

array(['£100 million', '€150 million', '€130 million', '€80 million',
       'DKK 70 million', '£60 million', '€20 million', '€15 million',
       '€50 million', '€70 million', '€40 million', '€60 million',
       '€30 million', '€55 million', '€85 million', '€35 million',
       '€45 million', '£40 million', '€25 million', '£15 million',
       '£20 million', '£12 million', '£10 million', '£25 million',
       '£30 million', 'AU$20 million', '£35 million', 'CHF 10 million',
       'USD 5 million', '€18 million', 'USD 25 million', 'PLN 30 million',
       'CHF 8 million', '£22 million', '€12 million', '€10 million',
       'USD 50 million', 'MXN 20 million', 'USD 40 million',
       'USD 8 million', '€22 million', 'SEK 8 million', 'CAD 10 million',
       'SEK 12 million', 'USD 20 million', 'NOK 15 million',
       'USD 10 million', 'MXN 25 million', 'JPY 40 million',
       'CLP 20 million', 'NOK 20 million', 'CHF 15 million',
       'ARS 20 million'], dtype=object)

In [55]:
# Valute in Euro
convert_GBP = 1.16 # Sterlina britannica
convert_DKK = 0.13 # Corona danese
convert_AUD = 0.61 # Dollaro australiano
convert_CHF = 1.04 # Franco svizzero
convert_USD = 0.91 # Dollaro americano
convert_PLN = 0.22 # Zloty polacco
convert_MXN = 0.05 # Peso messicano
convert_SEK = 0.09 # Corona svedese
convert_CAD = 0.67 # Dollaro canadese
convert_NOK = 0.09 # Corona norvegese
convert_JPY = 0.0065 # Yen giapponese
convert_CLP = 0.0011 # Peso cileno
convert_ARS = 0.003 # Peso argentino

In [61]:
# Conversione Economic Impact in Euro
def converti_euro(value):
    if '£' in value:
        numeric_value = float(value.replace('£', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_GBP * 1e6)
    
    if '€' in value:
        numeric_value = float(value.replace('€', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * 1 * 1e6)
    
    if 'USD' in value:
        numeric_value = float(value.replace('USD', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_USD * 1e6)
    
    if 'MXN' in value:
        numeric_value = float(value.replace('MXN', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_MXN * 1e6)
    
    if 'AU$' in value:
        numeric_value = float(value.replace('AU$', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_AUD * 1e6)
    
    if 'ARS' in value:
        numeric_value = float(value.replace('ARS', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_ARS * 1e6)
    
    if 'CHF' in value:
        numeric_value = float(value.replace('CHF', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_CHF * 1e6)
    
    if 'DKK' in value:
        numeric_value = float(value.replace('DKK', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_DKK * 1e6)
    
    if 'SEK' in value:
        numeric_value = float(value.replace('SEK', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_SEK * 1e6)
    
    if 'CLP' in value:
        numeric_value = float(value.replace('CLP', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_CLP * 1e6)
    
    if 'JPY' in value:
        numeric_value = float(value.replace('JPY', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_JPY * 1e6)
    
    if 'PLN' in value:
        numeric_value = float(value.replace('PLN', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_PLN * 1e6)
    
    if 'NOK' in value:
        numeric_value = float(value.replace('NOK', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_NOK * 1e6)
    
    if 'CAD' in value:
        numeric_value = float(value.replace('CAD', '').replace(' million', '').replace(' ', ''))
        return '{:.0f}'.format(numeric_value * convert_CAD * 1e6)
    
    return value  # Se non corrisponde a nessuna delle valute, restituisce il valore originale

In [62]:
# Update colonna Economic Impact
df['Economic_Impact'] = df['Economic_Impact'].apply(converti_euro)

In [63]:
df['Economic_Impact']

0      116000000
1      150000000
2      130000000
3       80000000
4        9100000
         ...
152     30000000
153     15600000
154        60000
155     15000000
156      1000000
Name: Economic_Impact, Length: 157, dtype: object

In [64]:
df.head()

,Festival_Name,Location,Country,Attendace_Numbers,Age_Range,Visitor_Demographics,Economic_Impact,Music_Genre
0,Glastonbury Festival,Somerset,UK,200000,18-35,Music Enthusiasts,116000000,Various
1,Tomorrowland,Boom,Belgium,400000,18-30,EDM Fans,150000000,EDM
2,Sziget Festival,Budapest,Hungary,500000,18-40,International Attendees,130000000,Various
3,Rock am Ring,Nürburg,Germany,90000,20-40,Rock Fans,80000000,Rock
4,Roskilde Festival,Roskilde,Denmark,130000,18-40,Alternative Music Lovers,9100000,Alternative

In [65]:
# Rinomina colonna Economic Impact
df.rename(columns={'Economic_Impact': 'Economic_Impact (€)'}, inplace=True)

In [66]:
df.head()

,Festival_Name,Location,Country,Attendace_Numbers,Age_Range,Visitor_Demographics,Economic_Impact (€),Music_Genre
0,Glastonbury Festival,Somerset,UK,200000,18-35,Music Enthusiasts,116000000,Various
1,Tomorrowland,Boom,Belgium,400000,18-30,EDM Fans,150000000,EDM
2,Sziget Festival,Budapest,Hungary,500000,18-40,International Attendees,130000000,Various
3,Rock am Ring,Nürburg,Germany,90000,20-40,Rock Fans,80000000,Rock
4,Roskilde Festival,Roskilde,Denmark,130000,18-40,Alternative Music Lovers,9100000,Alternative